@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform: .2s ease-in-out;
    font-family: 'Titilium Web', sans-serif;
}